.teclado{
    padding: 15px;
    border-width: 5px;
    border-radius: 15px;
    border-style: solid;
    margin: auto;
    width: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    background-color: rgb(81, 84, 89);
}
.teclas{
    height: 50px;
    border-radius: 15px;
}
.teclas:hover,
.teclas:focus{
    box-shadow: 1px 1px 1px yellow;
}
.teclas:active,
.mark   {
    background-color: red;
}